In [5]:
import pandas as pd

data= {
    "age": [39,50,38,53,28],
    "workclass": ["state-gov","self-em-not-inc","private","private","private"],
    "fnlwgt":[77516,83311,215646,234721,338409],
    "education":["Bachelors","Bachelors","HS-grad","11th","Bachelors"],
    "education-num":[13,13,9,7,13],
    "martial-status":[
        "Never-married",
        "Married-civ-spouse",
        "Divorced",
        "Married-civ-spouse",
        "Married-civ-spoouse",
    ],
    "Occupation":[
    "Adm-clerical",
    "Exec-managerial",
    "Handlers-cleaners",
    "Handlers-Cleaners",
    "Prof-specialty",
    ],
   "relationship":[
       "Not-in-family",
       "Husband",
       "Not-in-family",
       "Husband",
       "wife",
   ],
  "race": ["White","White","White","Black","Black"],
  "sex":["Male", "Male", "Male","Male","Female"],
  "Capital-gain":[2174,0,0,0,0],
  "Capital-loss":[0,0,0,0,0],
  "hours-per-week":[40,13,40,40,40],
  "native-country":[
      "United-states",
      "United-states",
      "united-states",
      "united-states",
      "cuba",
  ],
  "salary":["<=50k","<=50k","<=50k","<=50k","<=50k"],
}
df = pd.DataFrame(data)
print(df)

   age        workclass  fnlwgt  education  education-num  \
0   39        state-gov   77516  Bachelors             13
1   50  self-em-not-inc   83311  Bachelors             13
2   38          private  215646    HS-grad              9
3   53          private  234721       11th              7
4   28          private  338409  Bachelors             13

        martial-status         Occupation   relationship   race     sex  \
0        Never-married       Adm-clerical  Not-in-family  White    Male
1   Married-civ-spouse    Exec-managerial        Husband  White    Male
2             Divorced  Handlers-cleaners  Not-in-family  White    Male
3   Married-civ-spouse  Handlers-Cleaners        Husband  Black    Male
4  Married-civ-spoouse     Prof-specialty           wife  Black  Female

   Capital-gain  Capital-loss  hours-per-week native-country salary
0          2174             0              40  United-states  <=50k
1             0             0              13  United-states  <=50k
2             0             0              40  united-states  <=50k
3             0             0              40  united-states  <=50k
4             0             0              40           cuba  <=50k

#1 How many peole of each race are represented in this dataset

In [8]:
race_counts =df["race"].value_counts()

print("Race counts:\n",race_counts)

Race counts:
 race
White    3
Black    2
Name: count, dtype: int64

#what is the average of men

In [9]:
average_age_men=df[df["sex"]=="Male"]["age"].mean()
print("Average age of men:",average_age_men)

Average age of men: 45.0

#what is the percentage of people who have BAchelors degree

In [10]:
bachelors_percentage= (df["education"]=="Bachelors").mean()*100
print("percentage woth bachelor's ddegree:", bachelors_percentage)

percentage woth bachelor's ddegree: 60.0

#what is the percentage of people with highy education

In [11]:
advanced_education =df["education"].isin(["Bachelors", "Masters","Doctorate"])
percentage_advanced_edu_high_salary = ( (df[advanced_education & (df["salary"] == ">50k")].shape[0] / df[advanced_education].shape[0])*100)
print("percentage with advanced education making >50K:",percentage_advanced_edu_high_salary)

percentage with advanced education making >50K: 0.0

#what is the percentage of people without  advanced education make more than 50K

In [12]:
percentage_non_advanced_edu_high_salary = (
    (df[~advanced_education & (df["salary"] ==">50k")].shape[0] / df[~advanced_education].shape[0])*100)
print("pecentage without advanced education making >50K:",percentage_non_advanced_edu_high_salary)

pecentage without advanced education making >50K: 0.0

#whatbis number of minimum number of hours a person works per week

In [13]:
min_hours_per_week= df["hours-per-week"].min()
print("Minimum hours worked per week:", min_hours_per_week)

Minimum hours worked per week: 13

#what is the percentage of people who work the minimum nnumber of hours per week have a salary of more than 50k

In [ ]:
min_hours_workers =df[df["hours-per-week"] == min_hours_per_week]
percentage_min_hours_high_salary =(
    min_hours_workers[min_hours_workers["salary"] == ">50k"].shape[0] /min_hours_workers.shape[0]*100)
print("Percentage of those working minimum hours and earning >50k:", percentage_min_hours_high_salary)

PErcentage of those working minimum hours and earning >50k: 0.0

what is the percentage of people working the minimum number of hours that earn >50k and what is tha percentage

In [16]:
country_earning_high= df[df["salary"]==">50k"]["native-country"].value_counts()
country_total = df["native-country"].value_counts()


earning_percentage=(
    country_earning_high.reindex(country_total.index,fill_value=0)/country_total *100)

highest_earning_country =earning_percentage.dropna().idxmax()
highest_earning_country_percentage = earning_percentage.dropna().max()

print("country with the highest percentage of >50K earning:", highest_earning_country)
print("Highest percentage of >50K earners:", highest_earning_country_percentage)

country with the highest percentage of >50K earning: United-states
Highest percentage of >50K earners: 0.0

indetifiying the most popular occupation for those who earn >50k in india

In [17]:
popular_occupation_india = (
    df[(df["salary"] == ">50k") & (df["native_country"] == "India")]["occupation"].value_counts().idmax()
    if not df[(df["salary"] == ">50k") & (df["native-country"] =="India")].empty
    else None)
print("Most popular occupation for >50K earners in India:", popular_occupation_india)

Most popular occupation for >50K earners in India: None